//-- General Data
-
    const brandName = "Sianty"
    const description = "Description"
    const keywords = "X, Y"
    const imgLogo = "./assets/logo.webp"
    const heroTitle = "Hero Title"

-
    const linksArr = [
        {'Home':'#home'},
        {'About':'#about'}
    ]